SetEnv PHP_VER 5_TEST
SetEnv REGISTER_GLOBALS 0
DirectoryIndex index.html
ErrorDocument 400 http://www.loan-truong.fr/400.php
ErrorDocument 401 http://www.loan-truong.fr/401.php
ErrorDocument 402 http://www.loan-truong.fr/402.php
ErrorDocument 403 http://www.loan-truong.fr/403.php
ErrorDocument 404 http://www.loan-truong.fr/404.php
ErrorDocument 405 http://www.loan-truong.fr/405.php
ErrorDocument 500 http://www.loan-truong.fr/500.php
ErrorDocument 501 http://www.loan-truong.fr/501.php
ErrorDocument 502 http://www.loan-truong.fr/502.php
ErrorDocument 503 http://www.loan-truong.fr/503.php
ErrorDocument 504 http://www.loan-truong.fr/504.php
ErrorDocument 505 http://www.loan-truong.fr/505.php

<IfModule mod_headers.c>
  # Mise en cache des images et autres fichier statiques pour un mois
  <FilesMatch ".(ico|jpe?g|png|gif|swf|flv|css|js|gz|pdf)$">
   Header set Cache-Control "max-age=2592000"
  </FilesMatch>

   # Mise en cache css pour un 12 heures
  <FilesMatch ".(css)$">
   Header set Cache-Control "max-age=43200"
  </FilesMatch>

  # Mise en cache du html et xml pour 12 heures
  <filesMatch ".(html|htm|xml)$">
   Header set Cache-Control "max-age=43200"
  </filesMatch>

  # Désactive la mise en cache pour les fichier PHP et CGI
  <FilesMatch ".(php|cgi)$">
   Header unset Cache-Control
  </FilesMatch>
</IfModule>